@import 'variables';

.empty-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: $color-neutral-lightest;
}

.image-container {
  background-color: $color-brand-primary-dark;
  border-radius: 100%;
  height: 116px;
  width: 116px;

  justify-content: center;
  display: flex;
}

.message {
  text-align: center;
  font-size: 21px;
  margin-top: 20px;
  color: $color-brand-primary;
  font-family: 'Satoshi-bold';
}

.second-message {
  text-align: center;
  font-size: 15px;
  // margin-top: 20px;
  color: $color-neutral-dark;
  font-style: italic;
  font-family: 'Satoshi-medium';
}
