<div class="page-header">
  <h1>{{ "dashboard.dashboard" | translate }}</h1>
  <span>{{ "dashboard.dash-info" | translate }}</span>
</div>

<mat-form-field>
  <mat-label>{{ "dashboard.date-filter" | translate }}</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input
      name="rangeStartDate"
      #rangeStartDate="ngModel"
      [(ngModel)]="startDate"
      matStartDate
      [disabled]="true"
      placeholder="{{ 'dashboard.start-date' | translate }}"
    />
    <input
      name="rangeEndDate"
      #rangeEndDate="ngModel"
      [(ngModel)]="endDate"
      matEndDate
      [disabled]="true"
      placeholder="{{ 'dashboard.end-date' | translate }}"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker
    #picker
    [disabled]="false"
    (closed)="filterByDate()"
  ></mat-date-range-picker>
</mat-form-field>

<canvas
  baseChart
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="'line'"
></canvas>
