<div class="page-header">
  <h1>{{ "dashboard.dashboard" | translate }}</h1>
  <span>{{ "dashboard.dash-info" | translate }}</span>
</div>

<mat-form-field>
  <mat-label>{{ "dashboard.date-filter" | translate }}</mat-label>

  <input
    matInput
    [matDatepicker]="picker"
    name="rangeDate"
    #rangeDate="ngModel"
    [(ngModel)]="startDate"
    [disabled]="true"
    placeholder="{{ 'dashboard.start-date' | translate }}"
  />
  <mat-datepicker-toggle
    [disabled]="!chartData.datasets?.length"
    matIconSuffix
    [for]="picker"
  ></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    [disabled]="false"
    (closed)="filterByDate()"
  ></mat-datepicker>
</mat-form-field>
<button
  mat-mini-fab
  color="primary"
  [disabled]="!startDate"
  (click)="clearDateFilter()"
  style="margin-left: 10px"
>
  <mat-icon>delete</mat-icon>
</button>

<canvas
  *ngIf="chartData.datasets?.length"
  baseChart
  [data]="chartData"
  [options]="chartOptions"
  [type]="'bar'"
></canvas>
<app-empty-list
  *ngIf="!chartData.datasets?.length"
  [titleMessage]="'dashboard.no-data-title'"
  [secMessage]="'dashboard.no-data-info'"
></app-empty-list>
