@import "_variables";

mat-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;

  .card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    form {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      width: 100%;
      margin: 0 70px 20px 0;
    }
  }
}

mat-form-field {
  margin-bottom: 8px;
}

@media (max-width: 355px) {
  .action-buttons {
    margin-top: 10px;
    justify-content: center;

    .confirm-btn,
    .cancel-btn {
      margin: 10px 0;
    }
  }
}
