// Brand colors
$color-brand-primary: #084299;
$color-brand-secondary: #247368;
$color-brand-tertiary: #d18458;
$color-background: #f0f9ff;
$color-text: #2c3a47;
$color-text-dark: #888888;
$color-text-light: #536270;

$border-radius-none: 0px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 32px;
$border-radius-circular: 50%;
$border-width-none: 0px;
$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heavy: 8px;
$color-brand-primary-lightest: #0c68f2;
$color-brand-primary-light: #0b5dd9;
$color-brand-primary-medium: #084299;
$color-brand-primary-dark: #073c8c;
$color-brand-primary-darkest: #063173;
$color-brand-secondary-lightest: #3bbfae;
$color-brand-secondary-light: #288074;
$color-brand-secondary-medium: #247368;
$color-brand-secondary-dark: #1c5951;
$color-brand-secondary-darkest: #10332e;
$color-brand-tertiary-lightest: #f79c68;
$color-brand-tertiary-light: #eb9562;
$color-brand-tertiary-medium: #d18458;
$color-brand-tertiary-dark: #ab6c48;
$color-brand-tertiary-darkest: #6b442d;
$color-neutral-lightest: #ffffff;
$color-neutral-light: #dfe1e2;
$color-neutral-medium: #a0a4a7;
$color-neutral-semimedium: #d0d5d9;
$color-neutral-dark: #4e5355;
$color-neutral-darkest: #141515;
$color-suport-danger: #e63737;
$color-suport-info: #0095ff;
$color-suport-success: #00e096;
$color-suport-warning: #ffc94c;
$line-height-tight: 100%;
$line-height-medium: 120%;
$line-height-distant: 130%;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
$font-size-giant: 56px;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;
$opacity-level-semi-opaque: 0.8;
$opacity-level-intense: 0.64;
$opacity-level-medium: 0.32;
$opacity-level-light: 0.16;
$opacity-level-semi-transparent: 0.08;
$spacing-inset-nano: 8px;
$spacing-inset-quarck: 4px;
$spacing-inset-sm: 24px;
$spacing-inset-xs: 16px;
$spacing-squish-nano: 8px 16px;
$spacing-squish-quarck: 4px 8px;
$spacing-squish-sm: 16px 32px;
$spacing-squish-xs: 16px 24px;
$spacing-inline-xl: 80px;
$spacing-inline-lg: 64px;
$spacing-inline-md: 48px;
$spacing-inline-sm: 40px;
$spacing-inline-xs: 32px;
$spacing-inline-xxs: 24px;
$spacing-inline-xxxs: 16px;
$spacing-inline-nano: 8px;
$spacing-inline-quarck: 4px;
